body {
    color: white;
    background-color: rgb(241, 183, 195);
}

div {
    padding-top: 50px;
    padding-bottom: 5px;
}

section {
    color: rgb(255, 0, 0);
    padding: 15px;
    text-align: center;
}
